.breadCrumbs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  margin: 22px 0;
  & li a{
    color: var(--theme-color);
  }
  & li{
    max-width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: default;
  }
}